.scrollBar{
	background-color: white;
}

.border{
	border: 1px solid gray;
}

.scrollBar .slider{
	background-color: black;
}

.scrollBar .sliderMouseOver{
	background-color: gray;
}

.scrollBar .increase{
	
}

.scrollBar .decrease{
	
}

.spinnerView{
	height: 32 px;
}


.spinner {
	
	width: 20px;
	height: 32px;
}

@sprite .active{
	gwt-image: 'bullet_active';
}

@sprite .normal{
	gwt-image: 'bullet';
}

