@CHARSET "UTF-8";

/* .MapControlBarLeft div{ */
/* 	clear:both; */
/* 	float:none; */
/* 	margin: 0px; */
/* 	padding:0px; */
/* } */

.MapControlBarLeft {
	height: 100%;
	width:10px;
/* 	overflow:auto; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 5px 0px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#eaeaea));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #cccccc;
	cursor:e-resize;
	border-radius: 3px;
	-moz-box-shadow:
		1px 0px 5px rgba(000,000,000,0.4);
	-webkit-box-shadow:
		1px 0px 5px rgba(000,000,000,0.4);
}

.MapControlBarRight {
	height: 100%;
	width:10px;
/* 	overflow:auto; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 5px 0px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#eaeaea));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #cccccc;
	cursor:w-resize;
	border-radius: 3px;
	-moz-box-shadow:
		-1px 0px 5px rgba(000,000,000,0.4);
	-webkit-box-shadow:
		-1px 0px 5px rgba(000,000,000,0.4);
}

.MapControlBarLeft:hover{
	-moz-box-shadow:
		1px 0px 5px rgba(000,000,000,0.4),
		inset 5px 5px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow:
/* 		1px 0px 5px rgba(000,000,000,0.4), */
		inset 5px 5px 10px rgba(0,0,0,0.1);
}

.MapControlBarRight:hover{
	-moz-box-shadow:
		-1px 0px 5px rgba(000,000,000,0.4),
		inset 5px 5px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow:
		-1px 0px 5px rgba(000,000,000,0.4),
		inset 5px 5px 10px rgba(0,0,0,0.1);
}

/* .dot1{ */
/* 	padding-top: 5px; */
/* } */

/* .dot2{ */
/* 	margin-top: -10px; */
/* } */

/* .dot3{ */
/* 	margin-top: -10px; */
/* 	 padding-bottom: 10px; */
/* } */